<h1 class="text-center">Les villes</h1>



<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h3 class="card-title"><%= city.name %></h5>
              <h5 class="card-title">Code postal : <%= city.zip_code %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-left">
      <a href="<%= root_path %>" class="btn my-2 btn-outline-secondary">Retour à l'acceuil</a>
    </div>

  </div>
</div>
